<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обучение Специалистов</title>
    <!-- Подключаем внешний CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <script>
        var successPercentage = {{ success_percentage }};  // Процент прошедших
        var passed = {{ passed }};  // Количество прошедших
        var failed = {{ failed }};  // Количество не прошедших
    </script>
    <!-- Карточка с прогресс-баром -->
    <div class="card">
        <div class="card-header">
            {{ content_text }}
        </div>

        <div class="progress-container">
            <div class="progress-bar">
                <div id="progress" class="progress"></div> <!-- Жёлтая часть прогресс-бара -->
            </div>
            <div id="progress-text" class="progress-text">0%</div> <!-- Проценты справа от бар -->
        </div>

        <div class="status-text">
            <span class="passed">{{ text_to_passed }}</span>
            <span class="failed">{{ text_to_failed }}</span>
        </div>
    </div>

    <!-- Подключаем внешний JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>updateProgressBar(successPercentage, passed, failed);</script>

</body>
</html>
