<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bars.css') }}">
</head>
<body>
    <!-- Контейнер для графика -->
    <div class="linebar">
        <div class="card">
            <div class="card-header"></div> <!-- Заголовок динамический -->

            <div class="progress-container">
                <div class="progress-bar">
                    <div class="progress"></div> <!-- Прогресс-бар -->
                </div>
                <div class="progress-text"></div> <!-- Процент выполнения -->
            </div>

            <div class="status-text">
                <span class="passed"></span> <!-- Кол-во прошедших -->
                <span class="failed"></span> <!-- Кол-во не прошедших -->
            </div>
        </div>
    </div>
</body>
</html>
