<!DOCTYPE html>
<html lang="ru">
<head>
    <!--Styles-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar_search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/monitoring.css') }}">
</head>
<body>
    <div class="wrapper">
        {% include 'sidebar.html' %}
        {% include 'header.html' %}
        <h1>Мониторинг</h1>
        <div class="content">
            <!-- Кнопки -->
            <div class="monitoring-button-container">
                <div class="monitoring-button-item">
                    <a href="{{ url_for('main.dynamic_route_monitoring_gia') }}" class="monitoring-button">
                        <span class="button-title">Планирование ГИА</span>
                        <p>Информация по планированию проведения государственной итоговой аттестации в 9 и 11 классах: ППЭ, аудитории, участники, работники</p>
                    </a>
                </div>
                <div class="monitoring-button-item">
                    <a href="{{ url_for('main.dynamic_route_monitoring_education') }}" class="monitoring-button">
                        <span class="button-title">Обучение специалистов</span>
                        <p>Информация о прохождении обучения на учебной платформе ФГБУ «ФЦТ» специалистами ППЭ</p>
                    </a>
                </div>
                <div class="monitoring-button-item">
                    <a href="{{ url_for('main.dynamic_route_monitoring_spo-reporting') }}" class="monitoring-button">
                        <span class="button-title">Отчетность региональных СПО</span>
                        <p>Внесение сведений в систему ФИС ГИА и приема профессиональными организациями о приеме на обучение по образовательным программам СПО</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
