/* Стили для карточки */
.containers {
    display: flex; /* Размещаем элементы в строку */
    justify-content: space-between; /* Равномерное распределение */
    flex-wrap: wrap; /* Разрешаем перенос на новую строку */
    gap: 20px; /* Отступ между графиками */
    width: 100%; /* Чтобы контейнер занимал всю ширину */
}

.data-container {
    flex: 0 1 calc(33.333% - 20px); /* Элементы не растут, но могут уменьшаться */
    min-width: 250px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 20px auto;
}

.card-header {
    font-size: 20px;
    color: #3d68d3;
    font-weight: bold;
    margin-bottom: 10px;
}

.progress-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.progress-bar {
    flex: 1;
    height: 20px;
    background-color: #ff0000; /* Красный для фона (неудача) */
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px; /* Отступ между баром и процентами */
}

.progress {
    height: 100%;
    border-radius: 10px;
    transition: width 1s ease;
    background-color: #ffcc00; /* Желтый для успешной части */
}

.progress-text {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px; /* Совпадение с высотой прогресс-бара */
    margin-top: 0; /* Убираем возможные отступы сверху */
    position: relative;
    top: 0px; /* Поднимаем текст на 5px (можно настроить по необходимости) */
}

.status-text {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

/* data-container.css */
.data-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    overflow-x: auto;
    margin-right: auto;
}

