/* content.css */
.content {
    position: absolute;
    top: 50px; /* Отступ от header */
    left: 290px; /* Отступ от sidebar */
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}


.containers {
    display: flex; /* Размещаем элементы в строку */
    justify-content: space-between; /* Равномерное распределение */
    flex-wrap: wrap; /* Разрешаем перенос на новую строку */
    gap: 20px; /* Отступ между графиками */
    width: 100%; /* Чтобы контейнер занимал всю ширину */
}

.data-container {
    flex: 0 1 calc(33.333% - 20px); /* Элементы не растут, но могут уменьшаться */
    min-width: 250px;
}

