/* Контейнер для кнопок */
.monitoring-button-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

/* Стиль для каждой кнопки */
.monitoring-button-item {
    width: 80%;
    max-width: 600px;
}

/* Стиль кнопки */
.monitoring-button {
    display: flex; /* Используем flex для кнопки, чтобы элементы внутри кнопки выравнивались */
    padding: 30px;
    background-color: #f1f8ff; /* Слегка синевато-белый цвет кнопки */
    color: #131D73; /* Тёмно-синий цвет текста */
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e6fa; /* Легкая рамка для кнопки */
    width: 100%; /* Ширина на 100% от родительского контейнера */
    height: 100%; /* Высота на 100% от родительского контейнера */
    flex-direction: column; /* Размещение элементов (текста и описания) вертикально */
    justify-content: center; /* Центрирование по вертикали */
    align-items: center; /* Центрирование по горизонтали */
}

/* Эффект наведения на кнопку */
.monitoring-button:hover {
    background-color: #e6effd; /* Светло-синий оттенок при ховере */
    transform: translateY(-5px); /* Легкое поднятие кнопки */
}

/* Заголовок кнопки */
.monitoring-button-title {
    font-size: 20px;
    font-weight: bold;
}

/* Описание под кнопкой */
.monitoring-button p {
    font-size: 14px;
    margin-top: 10px;
    color: #666; /* Мягкий серо-голубой цвет текста */
}
