/* sidebar.css */
.sidebar {
    width: 250px;
    background-color: #131D73; /* Мягкий cyan */
    color: white;
    position: fixed; /* Фиксируем слева */
    top: 0;
    left: 0;
    height: 100vh; /* Полная высота экрана */
    overflow-y: auto;
    padding: 20px;
    border-right: 3px solid #26a69a; /* Более мягкий оттенок для границы */
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #26a69a; /* Мягкий зелёно-циановый оттенок при наведении */
    box-shadow: inset 3px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}
